.card1 {
    background-color: hsl(31, 77%, 52%);

    h2 {
        font-family: Big Shoulders Display;
        color: hsl(0, 0%, 95%);
        font-size: 40px;

        +p {
            font-family: Lexend Deca;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 15px;

        }
    }
}

.card2 {
    background-color: hsl(184, 100%, 22%);

    h2 {
        font-family: Big Shoulders Display;
        color: hsl(0, 0%, 95%);
        font-size: 40px;

        +p {
            font-family: Lexend Deca;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 15px;

        }
    }
}

.card3 {
    background-color: hsl(179, 100%, 13%);

    h2 {
        font-family: Big Shoulders Display;
        color: hsl(0, 0%, 95%);
        font-size: 40px;

        +p {
            font-family: Lexend Deca;
            color: hsla(0, 0%, 100%, 0.75);
            font-size: 15px;

        }
    }
}

button {
    background-color: hsl(0, 0%, 95%);
    height: 50px;
    width: 150px;
    border: none;
}

.b1 {
    color: hsl(31, 77%, 52%)
}

.b2 {
    color: hsl(184, 100%, 22%);
}

.b3 {
    color: hsl(179, 100%, 13%);
}